@using Web.Extensions
@model InspectionDetailViewModel

@{
    ViewData["Title"] = "Inspection Details";
}

@{
    var establishment = Model.InspectionDetails.First().Inspection.Establishment;
}
<div class="card mb-4">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h3>
                    @establishment.Name
                </h3>
            </div>
            <div class="col text-end">
                <a class="btn btn-success" target="_blank" rel="noreferrer" href="@Model.MapUrl">Show in Map</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h5 class="text-info">Address:</h5>
                <address>
                    @establishment.Address<br />
                    Toronto, Ontario
                </address>
            </div>
            <div class="col">
                <h5 class="text-info">Type:</h5>
                @establishment.Type
            </div>
            <div class="col">
                <h5 class="text-info">Minimum Inspections Per Year:</h5>
                @establishment.MinimumInspectionsPerYear
            </div>
            <div>
                <div class="progress-stacked">
                    <div class="progress" role="progressbar" aria-label="@Model.PercentageRemaining%"
                        aria-valuenow="@Model.PercentageRemaining" aria-valuemin="0" aria-valuemax="100"
                        style="width: @Model.PercentageRemaining%">
                        <div class="progress-bar bg-success">@Model.PercentageRemaining%</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Minor: @Model.PercentageMinor%"
                        aria-valuenow="@Model.PercentageMinor" aria-valuemin="0" aria-valuemax="100"
                        style="width: @Model.PercentageMinor%">
                        <div class="progress-bar bg-secondary">Minor: @Model.PercentageMinor%</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Significant @Model.PercentageSignificant%"
                        aria-valuenow="@Model.PercentageSignificant" aria-valuemin="0" aria-valuemax="100"
                        style="width: @Model.PercentageSignificant%">
                        <div class="progress-bar bg-warning">Significant: @Model.PercentageSignificant%</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Crucial: @Model.PercentageCrucial%"
                        aria-valuenow="@Model.PercentageCrucial" aria-valuemin="0" aria-valuemax="100"
                        style="width: @Model.PercentageCrucial%">
                        <div class="progress-bar bg-danger">Crucial: @Model.PercentageCrucial%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.InspectionDetails.Any())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Severity</th>
                <th scope="col">Details</th>
                <th scope="col">Action</th>
                <th scope="col">Court Outcome</th>
                <th scope="col">Amount Fined</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inspectionDetails in Model.InspectionDetails)
            {
                <tr class="@Model.RowCssClass(inspectionDetails.Severity)">
                    <td>@inspectionDetails.Inspection.Date?.ToString("MMM dd, yyyy")</td>
                    <td>@inspectionDetails.Status.ToReadableString()</td>
                    <td>@inspectionDetails.Severity.ToReadableString()</td>
                    <td>@inspectionDetails.InfractionDetails</td>
                    <td>@inspectionDetails.Action</td>
                    <td>@inspectionDetails.CourtOutcome</td>
                    <td>@inspectionDetails.AmountFined?.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
    @await Html.PartialAsync("_PaginationPartial", new PaginationViewModel
    {
        Href = $"{@Model.Id}?",
        PaginatedList = Model.InspectionDetails
    })
}