@model InspectionDetailViewModel

@{
    ViewData["Title"] = "Inspection Details";
}

@{
    var establishment = Model.InspectionDetails.First().Inspection.Establishment;
}
<div class="card mb-4">
    <h3 class="card-header">
        @establishment.Name
    </h3>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h5 class="text-info">Address:</h5>
                <address>
                    @establishment.Address<br />
                    Toronto, Ontario
                </address>
            </div>
            <div class="col">
                <h5 class="text-info">Type:</h5>
                @establishment.Type
            </div>
            <div class="col">
                <h5 class="text-info">Minimum Inspections Per Year:</h5>
                @establishment.MinimumInspectionsPerYear
            </div>
        </div>
    </div>
</div>
@if (Model.InspectionDetails.Any())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Severity</th>
                <th scope="col">Details</th>
                <th scope="col">Action</th>
                <th scope="col">Court Outcome</th>
                <th scope="col">Amount Fined</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inspectionDetails in Model.InspectionDetails)
            {
                var rowClass = inspectionDetails.Severity switch
                {
                    "M - Minor" => "table-secondary",
                    "S - Significant" => "table-warning",
                    "C - Crucial" => "table-danger",
                    _ => string.Empty
                };
                <tr class="@rowClass">
                    <td>@inspectionDetails.Inspection.Date?.ToString("MMM dd, yyyy")</td>
                    <td>@inspectionDetails.Status</td>
                    <td>@inspectionDetails.Severity</td>
                    <td>@inspectionDetails.InfractionDetails</td>
                    <td>@inspectionDetails.Action</td>
                    <td>@inspectionDetails.CourtOutcome</td>
                    <td>@inspectionDetails.AmountFined?.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
    @await Html.PartialAsync("_PaginationPartial", new PaginationViewModel
    {
        Href = $"{@Model.Id}?",
        PaginatedList = Model.InspectionDetails
    })
}